<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registerpage</title>
<!--    <link href="bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <b class="navbar-brand" href="#">INVESTGENIE</b>
</nav>
<br>

<!-- TEXT -->
<center>
    <h3>Register</h3>
</center>
<br>

<!-- REGISTRATION FORM -->
<form>
    <label for="exampleInputEmail1">Enter Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
    <br>
    <label for="exampleInputPassword1">Enter Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <br>
    <label for="exampleInputPassword1">Re-enter Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
</form>
<br>
<br>
<!-- REGISTER BUTTON -->
 <form action="/startpage" method="post">
    <button type="submit"  class="btn btn-primary " >REGISTER</button>
 </form>


</body>
</html>
