<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>startpage</title>
<!--    <link href="bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <b class="navbar-brand" href="#">INVESTGENIE</b>
</nav>
<br>

<!-- INTRO TEXT -->
<center>
  <h3>Welcome to InvestGenie!</h3>
  <br>
  <p>
  <div>Invest genie is an application that helps you</div>
  <div>invest smartly by recommending the right time</div>
  <div>to Buy or Sell your stock, without you having</div>
  <div>to stress about it! Just buy and sell the stock</div>
  <div>of your choice as recommended by us and grow</div>
  <div>your fortune.</div>
  </p>
</center>

<br>
<!-- LOGIN BUTTON -->
 <form action="/loginpage" method="post">
    <button type="submit"  class="btn btn-primary " >LOGIN</button>
 </form>
<!-- REGISTER BUTTON -->
 <form action="/registerpage" method="post">
    <button type="submit"  class="btn btn-primary ">REGISTER</button>
 </form>
</body>
</html>
